$theme_screen_background_color: hsl(30, 38%, 92%);
$theme_card_background_color: hsl(0, 0%, 100%);
$theme_box_shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
$theme_text_color: rgb(128, 128, 128);
$theme_color_green: hsl(158, 36%, 37%);
$theme_title_color: rgb(0, 0, 0);
$theme_title_font: "Fraunces", serif;
$theme_price_font: "Fraunces", serif;
$theme_text_font: "Montserrat", sans-serif;
